%main
  %header
    %h3 Your Profile
  %section{class: 'profile'}
    %div{class: 'profile-row'}
      %h4 Name:
      %span= full_name(@user)
    %div{class: 'profile-row'}
      %h4 Email:
      %span= @user.email
    %footer
      = link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-default btn-xs'
      = link_to "Order History", orders_path, class: 'btn btn-default btn-xs'