-# %h5= item.status.capitalize
-# = button_to "Add to Cart", cart_path(item_id: item.id), :class => "btn btn_primary"
= button_to "Add to Cart", cart_path(item_id: item.id), :class => "btn btn_primary center-block btn-warning"
